CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_IGNORE_NOTFOUND=n
CONFIG_SPIRAM_USE=y
CONFIG_SPIRAM_USE_CAPS_ALLOC=y  
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_SIZE=-1

CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_MODE_OCT=y

CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=16384 
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=16384 
CONFIG_SPIRAM_ALLOW_STACK_EXTERNAL_MEMORY=n 


CONFIG_ESP32_WIFI_IRAM_OPT=n
CONFIG_ESP32_WIFI_RX_IRAM_OPT=n
CONFIG_ESP32_WIFI_ENABLE_WPA3_SAE=n


CONFIG_MBEDTLS_EXTERNAL_MEM_ALLOC=y
CONFIG_MBEDTLS_DYNAMIC_BUFFER=y

CONFIG_LWIP_MAX_SOCKETS=16 
CONFIG_LWIP_TCP_WND=65535
CONFIG_LWIP_TCP_MAXRTX=12
CONFIG_LWIP_TCP_SYNMAXRTX=6
CONFIG_LWIP_TCP_WND_DEFAULT=65535
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=65535
CONFIG_LWIP_TCP_RCVBUF_DEFAULT=65535
CONFIG_LWIP_TCP_MSS=1460
CONFIG_LWIP_TCP_SND_QUEUELEN=64
CONFIG_LWIP_TCP_QUEUE_OOSEQ=n

CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y
CONFIG_SPIRAM_RODATA_ALLOW_EXTERNAL_MEMORY=n  

CONFIG_USB_HOST_URB_PRIO=3
CONFIG_USB_HOST_CONTROL_TRANSFER_MAX_SIZE=2048
CONFIG_USB_HOST_HW_BUFFER_BIAS_BALANCED=y